
this is object oriented concepts

In [5]:
class DataScience:
    school = "School of Data Science"

In [6]:
student1 = DataScience() #object created
student2 = DataScience()


print(student1.school)
print(student2.school)

School of Data Science
School of Data Science

In [8]:
class Data_Science:
    language = "PYTHON"
    
harry = Data_Science()
Sachit = Data_Science()
Niruta = Data_Science()

print(f"I am Learning {harry.language}")
print(f"Sachit is Learning {Sachit.language}")
print(f"Niruta is  Learning {Niruta.language}")

I am Learning PYTHON
Sachit is Learning PYTHON
Niruta is  Learning PYTHON

In [19]:
class Student:
    #constructor
    def __init__ (self,name, level):
        #instance variables
        self.name = name
        self.level = level
        
    def __str__(self): # this methon is special methond in pyython which gets invoked when the object is printed
        return "{} studies in level {}".format(self.name,self.level)
        

std1 = Student("Harry",5)
std2 = Student("Sachit",5)
std3 = Student("Niruta",5)

print(std1.name,"is on level",std1.level)
print(std2.name,"is on level",std2.level)
print(std3.name,"is on level",std3.level)

Harry is on level 5
Sachit is on level 5
Niruta is on level 5

In [21]:
print(std1)
print(std2)
print(std3)

Harry studies in level 5
Sachit studies in level 5
Niruta studies in level 5

In [2]:
class A:
    def explore(self):
        print("explore() methond from class A")
class B(A):
    def explore(self):
        print("explore() methond from class B") #method overriing

b_obj = B() 
a_obj = A()

b_obj.explore()
a_obj.explore()

explore() methond from class B
explore() methond from class A

In [3]:
class A:
    def explore(self):
        print("explore() methond from class A")
class B(A):
    def explore(self):
        super().explore() #calling the parent class explore() method
        print("explore() methond from class B") #method overriing

b_obj = B() 
a_obj = A()

b_obj.explore()
a_obj.explore()

explore() methond from class A
explore() methond from class B
explore() methond from class A

In [8]:
for i in range(1,10):
    print(f"{i} * {i} =",i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81

In [11]:
squares_list = [i*i for i in range(1,10)] 
squares_odd_list = [x*x for x in range(1,20) if x%2 != 0 ]#squraes of odd

print(squares_list)
print(squares_odd_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [13]:
#square a number fi it is even : leave it alone as it is
lst = [ i*i if i%2==0 else i for i in range(10)]
lst

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

In [15]:
lst = []

for i in range(20):
    if i%2 ==0:
        if i%3 ==0:
            lst.append(i)

print(lst)

[0, 6, 12, 18]

In [17]:
lst = [ i for i in range(20) if i%2 ==0 if i%3 ==0]
print(lst)

[0, 6, 12, 18]

In [18]:
lst = [name.capitalize() for name in ['stee','hArry',"nika"]]
print(lst)

['Stee', 'Harry', 'Nika']

In [19]:
square_roots_dict = {num: num**0.5 for num in range(1,6)}
print(square_roots_dict)

{1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979}

In [22]:
bill = {"Apple":12,"Orange":7,"KIwi":25,"Banana":6}
discounted_bill = {k:(v*0.9 if v>10 else v) for k,v in bill.items()}
discounted_bill

{'Apple': 10.8, 'Orange': 7, 'KIwi': 22.5, 'Banana': 6}