In [1]:
5%3 # gives the reminder

2

In [2]:
5//3 # gives the quotient

1

In [8]:
x = 7*(3+8-4)/6
print(x)

8.166666666666666

In [10]:
y = x % 2
print(y)

0.16666666666666607

In [11]:
z = y ** 3
print(z)

0.00462962962962958

In [15]:
k = x // 3
print(k)

2.0

In [18]:
2 != 3

True

In [17]:
2==3

False

In [19]:
2 >= 3

False

In [24]:
a = 2 
b = 3

In [25]:
a > 2 and b >2

False

In [26]:
a > 2 or b >2

True

In [27]:
not  b > 3

True

In [28]:
not a > 1

False

In [30]:
a != 1

True

In [31]:
False or True and not True

False

In [32]:
x = 2 
type(x) is int

True

In [35]:
type(x) is float

False

In [34]:
type(x) is not str

True

In [36]:
'h' in 'hello'

True

In [37]:
'llo' in 'hello'

True

In [38]:
'm' in "python"

False

In [24]:
days_of_week = ['Sunday','Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday']
days_of_week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday']

In [41]:
len(days_of_week)

7

In [48]:
print(days_of_week[-1])

Saturday

In [8]:
print(days_of_week[0,3])

TypeError: list indices must be integers or slices, not tuple

In [15]:
test_day = days_of_week[1:4]
print(test_day)
print(days_of_week)

['MON', 'TUE', 'WED']
['Sunday', 'MON', 'TUE', 'WED', 'Friday', 'Saturday']

In [6]:
days_of_week[:3]

['Sunday', 'Monday', 'Tuesday']

In [7]:
days_of_week[5:]

['Friday', 'Saturday']

In [9]:
'Saturday' in days_of_week

True

In [26]:
days_of_week[1] = "MON"
days_of_week

['Sunday', 'MON', 'TUE', 'WED', 'Thrusday', 'Friday', 'Saturday']

In [25]:
days_of_week[2:4] = ["TUE","WED"]
days_of_week

['Sunday', 'Monday', 'TUE', 'WED', 'Thrusday', 'Friday', 'Saturday']

In [28]:
days_of_week[2:5] = ["TUE","WED"]  
days_of_week

['Sunday', 'MON', 'TUE', 'WED', 'Friday', 'Saturday']

In [42]:
days_of_week[2] = "TUE","WED"  
days_of_week

['Sunday', 'MON', ('TUE', 'WED'), 'WED', 'Friday', 'Saturday']

In [45]:
days_of_week[2][1]

'WED'

In [41]:
x = ['a','b','c','d','e']
len(x)

5

In [39]:
x[1:3] =  'f'
x

['a', 'f', 'd', 'e']

In [40]:
len(x)

4

In [56]:
my_list= [1,2,3]
my_list.insert(1,'Harry')
my_list

[1, 'Harry', 2, 3]

In [59]:
my_list.append(4)
my_list

[1, 'Harry', 2, 3, 4, 4]

In [60]:
list_to_add = [ 100,200,300]
my_list.extend(list_to_add) # ADD MULTPLES  VALUES OR AND ENTIRE LIST
my_list

[1, 'Harry', 2, 3, 4, 4, 100, 200, 300]

In [65]:
my_list.remove('Harry') # REMOVES hARRY FROM THE LIST

ValueError: list.remove(x): x not in list

In [68]:
my_list # MY_LIST.CLEAR WILL CLEAR THE ENTIRE LIST

[1, 2, 3, 4, 100, 200]

In [66]:
my_list.pop() #REMOVES LAST ELEMENT FORM THE LIST

300

In [67]:
my_list.pop(4) #REMOVES THE VALVE OF GIVEN INDEX

4

In [ ]:
del my_list # will delet the list

In [ ]:
my)list.clear() # this wil  delete all  all the element inside of a list

In [2]:
months_list  = [ 'jan','feb','mar','apr']
months_list.sort()
months_list

['apr', 'feb', 'jan', 'mar']

In [3]:
years_list = [ 1999,1986,2021,1970]
years_list.sort()
years_list

[1970, 1986, 1999, 2021]

In [4]:
num_list = [5,3,10,15,-1,100]
num_list.sort(reverse = True)
num_list

[100, 15, 10, 5, 3, -1]

In [7]:
cities_list = [ "Kathmandu","london","chicago","new york","Lahore"]
cities_list.sort(key= str.lower)
cities_list

['chicago', 'Kathmandu', 'Lahore', 'london', 'new york']

In [8]:
my_list = [3,4,1,5]
my_list.reverse() # permentaly reverse the list
my_list

[5, 1, 4, 3]

In [10]:
me_list = my_list.copy()
me_list

[5, 1, 4, 3]

In [11]:
list_1= [ 1,2,3]
list_2=["hi","there"]
list_3 = list_1+list_2 # 
print(list_3)

[1, 2, 3, 'hi', 'there']

In [13]:
list_3.extend(list_1)
list_3

[1, 2, 3, 'hi', 'there', 1, 2, 3, 1, 2, 3]

In [28]:
Age = 18 
if Age > 18:
    print("YOU CAN VOTE")
elif Age<18:
    print("YOU CANN'T VOTE")
elif Age == 18:
    print("Get Citizenship Card")

Get Citizenship Card

In [1]:
""" 500 - 5%
 1000-10%
5000 - 15%
500< - 0%
"""
Total_cost = int(input("Eneter the amount"))

if Total_cost < 500:
    print("Sorry!! No Discount")
elif Total_cost >= 500 and Total_cost < 1000:
    Total_cost = Total_cost-(Total_cost*(5/100))
    print("Your price after 5% discount is ",Total_cost)
elif Total_cost >= 1000 and Total_cost < 5000:
    Total_cost = Total_cost-(Total_cost*(10/100))
    print("Your price after 10% discount is ",Total_cost)
elif Total_cost >= 5000:
    Total_cost = Total_cost-(Total_cost*(15/100))
    print("Your price after 15% discount is ",Total_cost)

Eneter the amount 5000

Your price after 15% discount is  4250.0

In [2]:
Name = input("Enter your name")
print("Your name is ",Name)

Enter your name YO HARRY

Your name is  YO HARRY

In [11]:
x = int(input("Enter the value of x"))
if x > 5:
    print("x is greater than 5")
elif x >3 :
    print("x is greater than 3")
elif x > 1:
    print("x is greater than 1")
else:
    print("X is less than or equal to 1")

Enter the value of x 4

x is greater than 3

In [8]:
x = 3
if x==3:print("X is equal to 3")

X is equal to 3

In [12]:
x = 2 
print("x is equal to 2") if x == 2 else print("x is no equal to x")

x is equal to 2

In [14]:
x = 35
if x > 10:
    print("X is greater than 10")
    if x < 30:
        print("x is less than 30")
    else:
        print("x is greate than 30 as well")

X is greater than 10
x is greate than 30 as well

In [24]:
LOCATION = input("WHERE ARE YOU FORM?? ( 'USA OR INTERNATIONAL')")
if LOCATION.upper() == "USA":
    total_cost = int(input("ENTER YOUR TOTAL ORDER"))
    if total_cost > 50:
        print("YOUR SHIPPING IS FREE")
    else:
        print("YOUR SHIPPING FEE IS 5$")
elif LOCATION.upper() == "INTERNATIONAL":
    total_cost = int(input("ENTER YOUR TOTAL ORDER"))
    if total_cost > 50:
        print("YOUR SHIPPING IS 10$")
    else:
        print("YOUR SHIPPING FEE IS 20$")
else:
    print("INVALID LOCATION")

WHERE ARE YOU FORM?? ( 'USA OR INTERNATIONAL') USA
ENTER YOUR TOTAL ORDER 45

YOUR SHIPPING FEE IS 5$

In [1]:
x = 10
while x > 5:
    print(x)
    x -=1

10
9
8
7
6

In [5]:
x = 0
while x < 15:
    x +=1
    if x == 9:
        continue
    print(x)

1
2
3
4
5
6
7
8
10
11
12
13
14
15

In [7]:
lst = ["one","two","three"]
for num in lst:
    if num =="two":
        break
    print(num)

one

In [8]:
for  x in "python":
    print(x)

p
y
t
h
o
n

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(2,10,3):
    print(i)

2
5
8

In [14]:
colors = [ 'red','blue','green']
objects = ['chair','table','house']

for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

In [26]:

for i in range(1,6):
    for j in range(1,6):
        print(j,end =' ')
    print(" ")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [28]:
print(f"this {colors}")

this ['red', 'blue', 'green']

In [4]:
def add(x,y):
    return x + y
add(4,6)
add(5,4,5)

TypeError: add() takes 2 positional arguments but 3 were given

In [5]:
def add(*nums):
    sum = 0
    for i in nums:
        sum+=i
    return sum

add(3,4,5,6,7,5)

30

In [9]:
def mul(x , y = 4):
    return x * y
mul(4)
mul(4,5)

20

In [20]:
def sub(y,x = 4): #default valus must be place after a normal parameter
    return x - y
#sub(4)
sub(6)

-2

In [22]:
sum = lambda x,y,z: x+y+z #this is lambda function one line function and can't be call
sum(1,2,3)

6

In [28]:
def sum(x , y , z):
    return x + y + z
def sub(x , y,z):
    return x - y - z
def myl(x , y , z):
    return x * y * z
def div(x ,y):
    return x / y
def xyzValue()
print("This is my calculatr app")
print("Enter 1.ADD 2.SUB 3.MUL 4.DIV ")
choice = int(input("Enter your choice "))
if choice == 1:
    x = int(input("enter the value of x"))
    y = int(input("enter the value of y"))
    z = int(input("enter the value of z"))
    print("The sum of three number is ", sum(x,y,z))
elif choice == 2:
    x = int(input("enter the value of x"))
    y = int(input("enter the value of y"))
    z = int(input("enter the value of z"))
    print(sub(x,y,z))
elif choice ==3:
    x = int(input("enter the value of x"))
    y = int(input("enter the value of y"))
    z = int(input("enter the value of z"))
    print(mul(x,y,z))
elif choice == 4:
    x = int(input("enter the value of x"))
    y = int(input("enter the value of y"))
    print(div(x,y))
else:
    print("INVALID CHOICE")

This is my calculatr app
Enter 1.ADD 2.SUB 3.MUL 4.DIV

Enter your choice  1
enter the value of x 4
enter the value of y 5
enter the value of z 6

15

In [33]:
print("---------------Harry Bakery--------------")
def totalSales(num_noodles,num_biscuit):
    return (num_noodles * 20) + (num_biscuit * 10)
num_noodles = int(input("Enter the number of noodles sold: "))
num_biscuit = int(input("Enter the number of biscut soled: "))

print("The total sales for the day is ",totalSales(num_noodles,num_biscuit))

---------------Harry Bakery--------------

Enter the number of noodles sold:  23
Enter the number of biscut soled:  12

The total sales for the day is  580

In [1]:
#example of tuples
my_tuple = ("hi","There",2,3)
my_tuple

('hi', 'There', 2, 3)

In [3]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])

hi
There
2

In [4]:
len(my_tuple)

4

In [5]:
my_tuple = ("hello","world",1,8.2)
print("my_tuple[0] ",my_tuple[0])
print("my_tuple[-1] ",my_tuple[-1])
print("my_tuple[1:3] ",my_tuple[1:3])
print("my_tuple[-3:-1] ",my_tuple[-3:-1])
print("my_tuple[:2] ",my_tuple[:2])
print("my_tuple[2:] ",my_tuple[2:])

my_tuple[0]  hello
my_tuple[-1]  8.2
my_tuple[1:3]  ('world', 1)
my_tuple[-3:-1]  ('world', 1)
my_tuple[:2]  ('hello', 'world')
my_tuple[2:]  (1, 8.2)

In [7]:
student1,student2,student3 = ('sma',"harry","tom")
print(student1)
print(student2)
print(student3)

sma
harry
tom

In [10]:
my_tuple = ("this","is","great")# loop through tuple

for item in my_tuple:
    print(item)

this
is
great

In [11]:
tuple_1 =(1,2,3)
print(tuple_1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
my_set = {2,"HI",5,65,True}
my_set

{2, 5, 65, 'HI', True}

In [15]:
set_1 = {1,2,"hi","thrre","hi",False}
set_1
len(set_1)

5

In [17]:
my_set = {1,"HI",5,65,True}# 1 and True are same so only one can be in a single set
my_set

{1, 5, 65, 'HI'}

In [18]:
#python dictonries
city_pop ={
    "chicago":3.5,
    "New York":7,
    "LA":6
}
city_pop

{'chicago': 3.5, 'New York': 7, 'LA': 6}

In [24]:
city_pop[0]

KeyError: 0

In [25]:
city_pop.keys()

dict_keys(['chicago', 'New York', 'LA'])

In [26]:
city_pop.values()

dict_values([3.5, 7, 6])

In [27]:
city_pop.items()

dict_items([('chicago', 3.5), ('New York', 7), ('LA', 6)])

In [29]:
city_pop["LA"]=20
city_pop

{'chicago': 3.5, 'New York': 7, 'LA': 20}

In [31]:
city_pop["KTM"]= 30
city_pop

{'chicago': 3.5, 'New York': 7, 'LA': 20, 'KTM': 30}

In [32]:
city_pop.pop("KTM")

30

In [33]:
city_pop

{'chicago': 3.5, 'New York': 7, 'LA': 20}