In [1]:
import spacy

In [2]:
nlp = spacy.blank('en')

doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate")

for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate

In [3]:
type (nlp)

spacy.lang.en.English

In [4]:
doc = nlp("Tony gave two $ to Peter.")

In [5]:
token0 = doc[0]
token0

Tony

In [6]:
token0.is_alpha

True

In [7]:
for token in doc:
    print(token, '==>',
          'index: ',token.i,
          'is_alpha: ',token.is_alpha,
          'is_puct: ',token.is_punct,
          'like_num: ',token.like_num,
          'is_currency: ',token.is_currency)

Tony ==> index:  0 is_alpha:  True is_puct:  False like_num:  False is_currency:  False
gave ==> index:  1 is_alpha:  True is_puct:  False like_num:  False is_currency:  False
two ==> index:  2 is_alpha:  True is_puct:  False like_num:  True is_currency:  False
$ ==> index:  3 is_alpha:  False is_puct:  False like_num:  False is_currency:  True
to ==> index:  4 is_alpha:  True is_puct:  False like_num:  False is_currency:  False
Peter ==> index:  5 is_alpha:  True is_puct:  False like_num:  False is_currency:  False
. ==> index:  6 is_alpha:  False is_puct:  True like_num:  False is_currency:  False

In [8]:
with open('text.txt') as f:
    text = f.readlines()
text

['School: Nepal public Academy\n',
 '\n',
 'Name                           Date                 email\n',
 'Hari sah                17-02-2002           smartharry499@gmail.com\n',
 'Rupesh Sah              8-03-2002            sahrupesh588@gmail.com\n',
 'Omi Sah                  3-2-2002            shaomi@gmail.com\n',
 'Hulk                     23-12-2002           sahrahul4555@gmail.com']

In [9]:
text = ' '.join(text)

In [10]:
text

'School: Nepal public Academy\n \n Name                           Date                 email\n Hari sah                17-02-2002           smartharry499@gmail.com\n Rupesh Sah              8-03-2002            sahrupesh588@gmail.com\n Omi Sah                  3-2-2002            shaomi@gmail.com\n Hulk                     23-12-2002           sahrahul4555@gmail.com'

In [11]:
doc = nlp(text)
email = []
for token in doc:
    if token.like_email:
        email.append(token)

email

[smartharry499@gmail.com,
 sahrupesh588@gmail.com,
 shaomi@gmail.com,
 sahrahul4555@gmail.com]

In [12]:
nlp = spacy.blank('ne')

doc = nlp(" मेरो नम हरि नरयन सह हो मेरो घर कल्यन्पुर हो मेरो देश को नम नेपल हो")

for token in doc:
    print(token)

मेरो
नम
हरि
नरयन
सह
हो
मेरो
घर
कल्यन्पुर
हो
मेरो
देश
को
नम
नेपल
हो

In [13]:
doc = nlp('gimme double cheese extra large healthy pizza')

tokens = [token.text for token in doc]

tokens

['gimme', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [14]:
# adding special case
from spacy.symbols import ORTH

nlp.tokenizer.add_special_case('gimme',[
    {ORTH:'gim'},
    {ORTH:'me'}])
doc = nlp('gimme double cheese extra large healthy pizza')

tokens = [token.text for token in doc]

tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [15]:
text = """Look for data to hellp you address the question. Goverments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and https://www.science.gov/, and in the United Kingdom , https://data.gov.uk/ .
Two of my favorite data seta are the General Social Survey at https://www3.norc.org/gss+website/,and the
European Social Survey at http://www.europeansocialsurvey.org"""

In [16]:
doc = nlp(text)
email = [token  for token in doc if token.like_url]
#for token in doc:
   # if token.like_url:
    #    email.append(token)

email

[http://www.data.gov/,
 https://www.science.gov/,
 https://data.gov.uk/,
 https://www3.norc.org/gss+website/,and,
 http://www.europeansocialsurvey.org]

In [44]:
doc = nlp( " Tony gave three $ to Peter, Bruce gave 500 $ to Steve")

money = [token for token in doc if token.is_currency | token.like_num]
money

[$, 500, $]

In [58]:
doc = nlp( " Tony gave three $ to Peter, Bruce gave 500 $ to Steve")

money =[]
for token in doc:
    #index = token.i
    if token.is_currency:
        print(doc[token.i-1],token)

three $
500 $