In [3]:
from sklearn.feature_extraction.text import CountVectorizer #bagofwords

v = CountVectorizer(ngram_range=(1,3))
v.fit(['Thor Hathodwala is looking for a job'])
v.vocabulary_

{'thor': 12,
 'hathodwala': 2,
 'is': 5,
 'looking': 9,
 'for': 0,
 'job': 8,
 'thor hathodwala': 13,
 'hathodwala is': 3,
 'is looking': 6,
 'looking for': 10,
 'for job': 1,
 'thor hathodwala is': 14,
 'hathodwala is looking': 4,
 'is looking for': 7,
 'looking for job': 11}

In [4]:
corpus = [
    'Thor ate pizza',
    'Loki is stall',
    'Loki is eating pizza'
]

In [5]:
import spacy
nlp = spacy.load('en_core_web_sm')

def preprocess(text):
    doc = nlp(text)

    filtered_tokens = []

    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    
    return " ".join(filtered_tokens)

In [6]:
preprocess('Thor ate pizza')

'thor eat pizza'

In [7]:
corpus_processed = [preprocess(text) for text in corpus]
corpus_processed

['thor eat pizza', 'Loki stall', 'Loki eat pizza']

In [8]:
v = CountVectorizer(ngram_range=(1,2))
v.fit(corpus_processed)
v.vocabulary_

{'thor': 7,
 'eat': 0,
 'pizza': 5,
 'thor eat': 8,
 'eat pizza': 1,
 'loki': 2,
 'stall': 6,
 'loki stall': 4,
 'loki eat': 3}

In [10]:
v.transform(['Thor eat pizza']).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 1, 1]])

In [11]:
v.transform(['Hulk eat pizza']).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 0, 0]])

In [12]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("rmisra/news-category-dataset")

print("Path to dataset files:", path)

/home/harry/Documents/Code/Data_Science/DeepLearning/.venv_tf/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Downloading from https://www.kaggle.com/api/v1/datasets/download/rmisra/news-category-dataset?dataset_version_number=3...

100%|██████████| 26.5M/26.5M [00:21<00:00, 1.27MB/s]

Extracting files...

Path to dataset files: /home/harry/.cache/kagglehub/datasets/rmisra/news-category-dataset/versions/3

In [13]:
os.listdir(path)

['News_Category_Dataset_v3.json']

In [22]:
import pandas as pd

df = pd.read_json(f'{path}/News_Category_Dataset_v3.json',lines=True)
df.shape
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [23]:
df.drop(['link','date','authors','headline'],axis = 1,inplace=True)

In [25]:
df = df.rename(columns={'short_description':'text'})

In [26]:
df.head()

    category                                               text
0  U.S. NEWS  Health experts said it is too early to predict...
1  U.S. NEWS  He was subdued by passengers and crew when he ...
2     COMEDY  "Until you have a dog you don't understand wha...
3  PARENTING  "Accidentally put grown-up toothpaste on my to...
4  U.S. NEWS  Amy Cooper accused investment firm Franklin Te...

In [27]:
df['category'].value_counts()

category
POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
Name: count, dtype: int64

In [28]:
df['category'].shape

(209527,)

In [33]:
df['category'].unique()

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE'], dtype=object)

In [30]:
min_samples = 1000
df_business = df[df['category']=='BUSINESS'].sample(min_samples,random_state=2025)
df_sports = df[df['category']=='SPORTS'].sample(min_samples,random_state=2025)
df_crime = df[df['category']=='CRIME'].sample(min_samples,random_state=2025)
df_science = df[df['category']=='SCIENCE'].sample(min_samples,random_state=2025)

In [32]:
df_balanced = pd.concat([df_business,df_crime,df_science,df_sports],axis = 0)
df_balanced['category'].value_counts()

category
BUSINESS    1000
CRIME       1000
SCIENCE     1000
SPORTS      1000
Name: count, dtype: int64

In [34]:
df_balanced['category_num'] = df_balanced['category'].map({
    'BUSINESS':0,
    'SPORTS':1,
    'CRIME':2,
    'SCIENCE':3
})

In [36]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df_balanced['text'],df_balanced['category_num'],test_size=0.2,random_state=18,stratify=df_balanced['category_num'])

In [37]:
print(X_train.shape)

(3200,)

In [38]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report


pipe = Pipeline([
    ('vectorizer_bow',CountVectorizer()),
    ('multi NB',MultinomialNB())
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.43      0.83      0.57       200
           1       0.78      0.53      0.63       200
           2       0.80      0.58      0.68       200
           3       0.79      0.53      0.63       200

    accuracy                           0.62       800
   macro avg       0.70      0.62      0.63       800
weighted avg       0.70      0.62      0.63       800

In [40]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report


pipe = Pipeline([
    ('vectorizer_bow',CountVectorizer(ngram_range=(1,3))),
    ('multi NB',MultinomialNB())
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.39      0.85      0.54       200
           1       0.80      0.46      0.58       200
           2       0.83      0.55      0.66       200
           3       0.79      0.47      0.59       200

    accuracy                           0.58       800
   macro avg       0.70      0.58      0.59       800
weighted avg       0.70      0.58      0.59       800

In [41]:
y_test[:5]

129770    3
79408     3
124563    3
104609    0
131782    0
Name: category_num, dtype: int64

In [42]:
y_pred[:5]

array([0, 0, 0, 0, 0])

In [43]:
df_balanced['preprocessed_text'] = df_balanced['text'].apply(preprocess)
df_balanced.head()

,category,text,category_num,preprocessed_text
136657,BUSINESS,"Buffet and Munger, close partners for 54 years...",0,Buffet Munger close partner 54 year describe j...
175093,BUSINESS,The company is not the first to blame Obamacar...,0,company blame Obamacare layoff cut spending No...
103019,BUSINESS,"Why do so many business fail, despite having t...",0,business fail despite have right stuff mar...
133077,BUSINESS,,0,
208159,BUSINESS,Never in the history has so much money been po...,0,history money pour direction bank need clear e...

In [46]:
X_train,X_test,y_train,y_test = train_test_split(df_balanced['preprocessed_text'],df_balanced['category_num'],test_size=0.2,random_state=18,stratify=df_balanced['category_num'])

In [47]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report


pipe = Pipeline([
    ('vectorizer_bow',CountVectorizer()),
    ('multi NB',MultinomialNB())
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.46      0.80      0.58       200
           1       0.79      0.55      0.65       200
           2       0.78      0.62      0.69       200
           3       0.76      0.57      0.66       200

    accuracy                           0.64       800
   macro avg       0.69      0.64      0.64       800
weighted avg       0.69      0.64      0.64       800

# Exercise

In [1]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("clmentbisaillon/fake-and-real-news-dataset")

print("Path to dataset files:", path)
os.listdir(path)

/home/harry/Documents/Code/Data_Science/DeepLearning/.venv_tf/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Path to dataset files: /home/harry/.cache/kagglehub/datasets/clmentbisaillon/fake-and-real-news-dataset/versions/1

['Fake.csv', 'True.csv']

In [2]:
import pandas as pd

df_fake = pd.read_csv(f'{path}/Fake.csv')
df_true = pd.read_csv(f'{path}/True.csv')

In [3]:
df_true['category'] = 1
df_true.head()

,title,text,subject,date,category
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [4]:
df_fake['category'] = 0
df_fake.head()

,title,text,subject,date,category
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [5]:
df = pd.concat([df_fake,df_true],axis = 0)
df.reset_index(inplace = True)

In [6]:
df.head()

,index,title,text,subject,date,category
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
df.shape

(44898, 6)

In [8]:
df['category'].value_counts()

category
0    23481
1    21417
Name: count, dtype: int64

In [9]:
df['subject'].value_counts()

subject
politicsNews       11272
worldnews          10145
News                9050
politics            6841
left-news           4459
Government News     1570
US_News              783
Middle-east          778
Name: count, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df['text'],df['category'],test_size=0.2,random_state=18,stratify=df['category'])

In [11]:
X_train.shape

(35918,)

In [12]:
X_test.shape

(8980,)

In [ ]:
# attmpt 1
# using sklearn pipeline module craet a classidict to classify the data
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_extraction.text import CountVectorizer


from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer',CountVectorizer(ngram_range=(1,3))),
    ('knn',KNeighborsClassifier(n_neighbors=10,metric='euclidean'))
])

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.81      0.78      4696
           1       0.77      0.71      0.74      4284

    accuracy                           0.76      8980
   macro avg       0.76      0.76      0.76      8980
weighted avg       0.76      0.76      0.76      8980

In [ ]:
# attmpt 2
# using sklearn pipeline module craet a classidict to classify the data
from  sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.metrics import classification_report



from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer',CountVectorizer(ngram_range=(3,3))),
    ('knn',RandomForestClassifier())
])

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97      4696
           1       0.97      0.97      0.97      4284

    accuracy                           0.97      8980
   macro avg       0.97      0.97      0.97      8980
weighted avg       0.97      0.97      0.97      8980

In [14]:
# attmpt 3
# using sklearn pipeline module craet a classidict to classify the data
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report



from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer',CountVectorizer(ngram_range=(1,2))),
    ('naive',MultinomialNB(alpha=0.75))
])

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97      4696
           1       0.97      0.97      0.97      4284

    accuracy                           0.97      8980
   macro avg       0.97      0.97      0.97      8980
weighted avg       0.97      0.97      0.97      8980

# Using Preprocessing

In [15]:
#use this utility function to get the preprocessed text data

import spacy

# load english language model and create nlp object from it
nlp = spacy.load("en_core_web_sm") 

def preprocess(text):
    # remove stop words and lemmatize the text
    doc = nlp(text)
    filtered_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    
    return " ".join(filtered_tokens)

In [16]:
df['preprocessed_text'] = df['text'].apply(preprocess)

KeyboardInterrupt:

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(df['preprocessed_text'],df['category'],test_size=0.2,random_state=18,stratify=df['category'])

In [ ]:
# attmpt 2
# using sklearn pipeline module craet a classidict to classify the data
from  sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.metrics import classification_report



from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer',CountVectorizer(ngram_range=(3,3))),
    ('knn',RandomForestClassifier())
])

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)
print(classification_report(y_test,y_pred))

In [ ]:
# attmpt 2
# using sklearn pipeline module craet a classidict to classify the data
from  sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.metrics import classification_report



from sklearn.pipeline import Pipeline

clf = Pipeline([
    ('vectorizer',CountVectorizer(ngram_range=(1,3))),
    ('knn',RandomForestClassifier())
])

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)
print(classification_report(y_test,y_pred))